---

import BaseLayout from "../layouts/BaseLayout.astro";---
<BaseLayout title="Apply to Panel at Sekaicon 2025">
    <h4>Panelist Information</h4>

    <p><strong>Panel Submissions for Sekaicon 2025 open January 8th, 2025 and applications will close January 22th, 2025. Acceptance emails will be sent no later than February 11th, 2025.</strong></p>
    <h6>Panelist Badges</h6>

<p>Panelists offering 2 or more hours of programming will be provided panelist badges available for pickup at-convention. Each panel is limited to 4 presenting panelists. If you have already purchased a badge and your panel is approved, please contact Sekaicon Programming.</p>
    <h6>Know Before You Apply</h6>

    <p>Please note that the beautiful Cherry Valley Hotel is an intimate venue with limited panel space available. While we deeply appreciate the hard work and dedication panelists put in to create the heart of convention programming, <strong>limited panel space means limited acceptance</strong>. Programming will undoubtedly have many difficult choices to make and we ask for your understanding and assure you that a rejected panel does not mean a “bad” panel–many good panels will unfortunately need to be turned down.</p>

    <p>Due to limited space, the following panel types will likely receive priority in approval:</p>

    <ul class="list">
        <li>Workshops</li>
        <li>Educational Material</li>
        <li>Games & Entertainment</li>
    </ul>

    <p>If you are not sure, apply!</p>

    <p>A waitlist will be implemented for panelists that were not approved.</p>

    <p>Panel submission forms will allow you to choose if you would prefer a 45 minute or 1 hour 45 minute block. Please note that this block allows time for tear-down and set-up time for both you and the next panelist. (<i>For example, if your panel begins at 1:00 pm, you should be able to enter the panel room at roughly 12:45 pm when the previous panel ends, to begin your set-up as they tear-down. Your panel should then end by 1:45 pm in order for the transition to the next panel to take place smoothly.</i>) Due to limited panel space, <strong>45 minute panels are highly encouraged.</strong></p>

    <p>Panelists will be required to submit their legal name for all submissions. You will also be able to provide a preferred name on the form. In the instance a preferred name is provided, your preferred name is the only name that will be used publicly or privately. Providing your legal name is critical to ensure that there is no confusion for Sekaicon regarding record keeping.</p>
<ul class="list">
    <li>All panels must submit a completed panel submission form. Incomplete submissions will be rejected.</li>
    <li>At least one presenting panelist must be over the age of 18 in each panel. All presenting panelists are required to be over the age of 16.</li>
    <li>All presenting panelists must be listed. Final changes to presenting panelists must be submitted to Sekaicon staff no later than March 14th, 2025.</li>
    <li>Presenting panelists who are not present at the panel location at the start time of their panel are subject to penalty, including a possible ban from future panel opportunities, at the discretion of Sekaicon leadership.</li>
    <li>Anyone listed as a presenting panelist who does not present the panel but received a panelist badge as a result of their listed hours will be subject to penalty, including a possible ban from future panel opportunities, at the discretion of Sekaicon leadership.</li>
    <li>Demonstration of skill and/or knowledge in a workshop subject will be required by presenting workshop panelists. This can be provided by portfolio, resume, social media, or similar. Please contact Sekaicon Programming for additional questions.</li>
    <li>Prize support through Sekaicon is not available. If you wish to provide prizes, giveaways, etc. to your panel attendees, you must provide them.</li>
    <li>Workshops requiring an additional fee from attendees to cover costs must have the fee approved by Programming in advance. Failure for both parties to agree on a price will result in the acceptance of the panel being revoked. The agreed upon panelist-set pricing will be monitored and enforced by Sekaicon staff.</li>
    <li>We ask that changes to your panel, including cancellations, are made by March 14th, 2025. Any panel that is cancelled by the panelist on or after Tuesday, April 8th, 2025 will be considered a no-show and subject to penalty.</li>
    <li>18+ and 21+ panels are permitted. Sekaicon reserves the right to increase the rating and/or age restriction of your panel. Attendees will be required to present a valid photo ID prior to entering an age restricted panel.</li>
    <li>Sekaicon can provide up to 2 microphones and 1 projector & screen. Panelists will be required to indicate on their form which of these will be needed. All other equipment, including cables, are to be provided by the panelist. Wi-Fi for panelists is not available. Please prepare for this in advance. Built-in room speakers in panel rooms are not suitable for loud or live music.</li>
    <li>Most importantly, Be Chill Like Parker. Panels that participate in or encourage unsafe behaviors such as hate speech, bullying, harassment, or intentionally/overly offensive material will be dealt with in whatever way Sekaicon leadership sees fit. The determination of what material “crosses the line” is entirely up to the discretion of Sekaicon leadership. If you are unsure if any part of the content of your panel falls under this umbrella, please do not hesitate to contact Sekaicon Programming with questions (or just reconsider including content you are worried about).</li>
    <li>Additional questions can be directed to programming@sekaiguild.org</li>
</ul>
    <p>Thank you to all the panelists who make cons what they are!</p>
    <p class="button ruby"><a href="https://docs.google.com/forms/d/e/1FAIpQLScCaTPFvEyzHRY7nXAll7COa7X73tv_eghD2vaZ-hNez9HEjg/viewform">Apply to Panel at Sekaicon 2025</a></p>
</BaseLayout>