---

import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Arcade">
    <p>Thank you for your interest in arcade gaming at Sekaicon!</p>
    <p>More information regarding arcade gaming at Sekaicon 2025 is coming soon!</p>
</BaseLayout>