---

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Cosplay">
    <h4>Cosplay Expo</h4>
    <p>Thank you for your interest in cosplay at Sekaicon! Applications for the Sekaicon 2025 Cosplay Contest are not available quite yet. Please keep an eye on our website and <a href="https://linktr.ee/sekaicon">social media</a>, or join our email list to stay up-to-date with the latest news!</p>
    <hr />
    <h4>Costume and Prop Policies</h4>
    <p>Coming soon!</p>
    <hr />
    <h4>Cosplay Photoshoots</h4>
    <p>Coming soon!</p>
</BaseLayout>