---

import BaseLayout from "../layouts/BaseLayout.astro";---

<BaseLayout title="Get Involved">
    <h4>Volunteers</h4>
    <p>You're in the right place, and we'd love to work with you! Check out our <a href="/volunteer">volunteers page</a> for more information about volunteering with Sekaicon, or click the button below to apply!</p>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSciLhZCCniCZQeTBSQH4CWI70hQakXzek2tnj3WiVn42O1n6w/viewform">Sekaicon 2025 Volunteer Application</a></p>
    <hr />
    <h4>Panelists, Vendors and Artists</h4>
    <p>As a new convention, we're still getting all our penguins in a row—leave your email with us below, and we'll notify you when we have more information about whatever you're interested in, and nothing else! (That's right—we won't email you cat pictures, or ads or anything!)</p>
    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSc8Vuku6uQEdV7YFquLnLLTJNFUVMf-Lo07x7bPq_mAc6SxDw/viewform">Join the Email List!</a> </p>
</BaseLayout>