---

import BaseLayout from "../layouts/BaseLayout.astro";---
<BaseLayout title="Sekaicon K-Pop/J-Pop Dance Competition">
    <p>The K-Pop/J-Pop Dance Competition is a high energy event where ambitious dancers compete for a chance to call themselves the best cover dancer of Sekaicon! Hosted by Fantoche Cover Crew, this competition is a celebration of the love of K-Pop and J-Pop idols and choreography. Cheer, scream, or sing along from your seat while watching talented local dancers bust a move on our stage. Let’s bring the concert atmosphere to Sekaicon–lightsticks welcome!</p>

    <p>Interested in performing? Please see below for competition details and submission times!</p>
    <ul class="list">
        <li>Submissions for the 2025 K-Pop/J-Pop Dance Competition are "audition based"; performers may submit in both categories (ex: 1 dancer can perform 1 solo/duet entry and within 1 group entry).</li>
        <li>Audition submissions should be a minimum of 1.5 minutes.</li>
        <li>Audition submission videos must be a static landscape/horizontal shot in a well-lit wide frame continuous take (no edits).</li>
        <li>The routine that is submitted for audition is not required to be the routine performed at the event; these are purely to observe skill level and placement within the show.</li>
        <li>While we do not have restrictions on when audition videos should have been recorded, we advise interested participants to submit as recent of a video as possible that is both your best take and includes all performers anticipated to perform at Sekaicon should the submission be accepted.</li>
        <li>Accepted participants must plan their at-con performance within the time frame of a minimum of 2 minutes and a maximum of 3.5 minutes.</li>
        <li>Mash-Up routines may have a maximum of 3 songs and original choreography is accepted but shall be judged under the same criteria. Transition audio is accepted and not counted as part of the 3 mashup songs but must be under 10 seconds (transition audio does not have to be kpop/jpop related).</li>
        <li>Accepted routines must be from K-Pop, J-Pop, C-Pop, Idol/Anisong, or adjacent. No western songs or covers. (ex: 4MIX, the Thai idol group, would be accepted, however Wooyoung of ATEEZ’s version of Artist of the Month would not be accepted).</li>
        <li>Both auditions and event judging are based on the following criteria: Musicality (timing/versatility/dynamics), Artistry (facials/energy), and Technique (isolations/coordination/control/angles)</li>
        <li>There will be a waitlist implemented; each category will have a waitlist of 5 extra performances and competitors and will be contacted 2 weeks before the con at the absolute latest on if spots become available. Otherwise, they will receive priority seating at the event.</li>
    <li>Questions regarding competition rules and guidelines can be directed to fantoche.covercrew@gmail.com
    </ul>
    <p><strong>SUBMISSIONS OPEN JANUARY 1, 2025 AND WILL CLOSE MARCH 1, 2025. ACCEPT/DECLINE/WAITLIST EMAILS WILL GO OUT ON MARCH 8, 2025.</strong></p>
    <p class="button ruby"><a href="https://forms.gle/kb4qg6hnGa1Dr9zP7">APPLY TO COMPETE</a></p>
</BaseLayout>