---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Live Events">


<p>Thank you for your interest in live events at Sekaicon! Our event schedule for Sekaicon 2025 is not available quite yet. Please keep an eye on our website and social media, or join our email list to be updated when our schedule becomes available. Thanks!</p>
    <h6>K-Pop & J-Pop Dance Competition presented by Fantoche</h6>

    <p>The K-Pop/J-Pop Dance Competition is a high energy event where ambitious dancers compete for a chance to call themselves the best cover dancer of Sekaicon! Hosted by Fantoche Cover Crew, this competition is a celebration of the love of K-Pop and J-Pop idols and choreography. Cheer, scream, or sing along from your seat while watching talented local dancers bust a move on our stage. Let’s bring the concert atmosphere to Sekaicon–lightsticks welcome!</p>

    <p><a href="/kpop-jpop-dance-competition"> Interested in performing? Find more information here!</a></p>

</BaseLayout>