---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Marketplace">
<h4>Welcome to the Sekaicon Marketplace!</h4>

    <p><strong>What is the Marketplace?</strong><br/>
        The Marketplace is a dedicated area within the Exhibitor Hall with dealers who change daily! Every day will have a different selection of goods from a variety of unique dealers! This section will have everything and anything that will entice people to stop by every day to check out what’s new!</p>

    <p><strong>How does it work?</strong><br/>
        You pick which day you want to sell, make some money, and then use the other days to enjoy! Each marketplace dealer gets a 4 foot table space to showcase their wares. Setup begins an hour before the Exhibitor Hall opens. The Marketplace is open during Hall hours to attendees. Then you have an hour to teardown after the Hall closes.</p>

    <p><strong>What can I use my space for?</strong><br/>
        Whatever you want! It can be used as an artist alley, mini vendor spot, otaku market, trading card swap, cosplay promotion, whatever you want as long as it is within our policies! It’s a great option if you want to test out selling things for the first time, are looking to clear out some past purchases, or get some spending money for the con!</p>

    <p>Examples of what you can use your space for:</p>
<ul>
    <li>Taking art commissions</li>
    <li>Setting up a version of your Artist Alley space</li>
    <li>Reducing your massive enamel pin hoard</li>
    <li>Clearing out some of your cosplay costume/props</li>
    <li>Promoting your cosplay page</li>
    <li>Buying/selling/trading Pokemon cards</li>
    <li>Downsizing your anime/manga collection</li>
    <li>Digging out your collection of 40 wallscrolls from the basement and rehoming them</li>
</ul>
    <p><strong>What am I not allowed to sell?</strong><br/>
        The following are not allowed for any Marketplace dealer to sell at Sekaicon:</p>
<ul>
    <li>Food and drink sales</li>
    <li>AI generated art (AI art in any form will not be permitted or tolerated)</li>
    <li>Intellectual properties (IP) that currently have DNS (Do Not Sell) orders from the creators</li>
    <li>Bootleg, knockoffs, or fake items</li>
    <li>Drug paraphernalia and products/designs relating to it</li>
    <li>Bladed weapons, yaoi paddles, and ammunition of any type</li>
    <li>Material relating to hatred, racism, sexism, or any other form of bigotry</li>
    <li>All forms of mature/adult content material</li>
</ul>
    <p><strong>How much is it and what is included?</strong><br/>
        A Marketplace spot is $50 per day and includes a 4 foot table space and one chair. This does not include a badge.</p>

<p><strong>Can I sign up for multiple days?</strong><br/>
    Absolutely! Availability for multiple days will be based on how many spaces we have open. There will be a spot in the application to specify which days you want and how many days you are hoping to have.</p>

    <p><strong>Can I have an assistant?</strong><br/>
        Marketplace dealers may designate an assistant to help them setup/teardown and to operate their space if they need to step away during open Hall hours. It is your responsibility to always keep your table tended to during open hours.</p>

<p><strong>Can we leave things overnight?</strong><br/>
    Unless you are approved in the Marketplace for consecutive days, there will be no storage allowed overnight. Everything must be removed from the Marketplace during teardown to allow the next batch of dealers to set up the morning.</p>
<p class="button ruby"><a href="https://forms.gle/8eeTRKvmoAHcMxdS9">Apply for Sekaicon 2025 Marketplace</a> </p>
</BaseLayout>