---

import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Policies">
    <h4>Volunteer Policies</h4>
    <p><a href="/files/Sekaicon-Volunteer-Policies.pdf">Sekaicon Volunteer Policies</a> <i class="fa-regular fa-file-pdf"></i> </p>
    <p><a href="/files/Sekaicon-Volunteer-Code-of-Conduct.pdf">Sekaicon Volunteer Code of Conduct</a> <i class="fa-regular fa-file-pdf"></i></p>
    <hr />
    <h4>Safety Policies</h4>
    <p><a href="/files/Sekaicon-2025-Harassment-Policy.pdf">Sekaicon Harassment Policy</a> <i class="fa-regular fa-file-pdf"></i></p>
    <hr />
    <h4>Refund Policy</h4>
    <p>All membership transactions are final. Refunds will not be issued for any reason, including but not limited to illness, schedule conflicts, or other personal reasons.</p>
    <p>COVID-19 Exception: members who test positive for COVID-19 within 14 days before the event may request a refund by providing proof of a positive test result. Refund requests must be submitted to general@sekaiguild.org. Approved refunds (less transaction fees) will be given via the original method of payment. In any case, additional donated amounts are not refundable.</p>
    <h6>Impossibility</h6>
    <p>Force Majeure Exception: in the event of some circumstance in which Sekaicon becomes impossible to execute and we receive a refund of our expenses from our vendors under an impossibility or force majeure clause, prorated refunds (less transaction fees) will be offered to all membership purchasers via the original method of payment. In any case, additional donated amounts are not refundable.</p>
    <hr />
    <h4>Other Policies</h4>
    <p>Please stay tuned for updates!</p>
</BaseLayout>