---

import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Tabletop Gaming">
    <p>Thank you for your interest in tabletop gaming at Sekaicon!</p>
    <p>More information regarding tabletop gaming at Sekaicon 2025 is coming soon!</p>
</BaseLayout>