---

import BaseLayout from "../layouts/BaseLayout.astro";---
<BaseLayout title="Vendor Hall">
    <p>Our #1 goal at Sekaicon is to have a diverse Exhibitor Hall & Anime Market! We are aiming to have a wide variety of items available for our attendees that range from traditional to unique. We are separating the Sekaicon Dealers into three parts – Artist Alley, Vendor Hall, and the Marketplace. Each section will have different table/booth sizes, availability, and restrictions. They will all be located in the Exhibitor Hall. You are allowed to apply to more than one section but upon approval we will see where you fit best in our hall’s layout.</p>
<a style="margin: 0 auto;" class="button ruby">Applications to vend at Sekaicon 2025 are now closed</a>
    <p><a href="/marketplace">Still interested in vending? Check out opportunities with the Sekaicon 2025 Marketplace!</a></p>
<hr />
    <h4>Not sure where to apply?</h4>

    <p><strong>Artist Alley</strong> - artists, crafters, and creators who sell original, unique, and handmade wares</p>

    <p><strong>Vendor Hall</strong> - vendors who sell licensed or mass produced goods</p>

    <p><strong>Adult Den</strong> - an area within the Vendor Hall for vendors who sell 18+ mature content products (can be handmade or mass produced)</p>
    <h4>Pricing</h4>

    <p><strong>All booths are 10x10 and come with 1 8'x30" table, 2 chairs, and 2 badges</strong></p>

<p>Artist booths are $275 for inline and $300 for corner</p>

<p>Vendor booths are $375 for inline and $400 for corner</p>

<p>Adult Den booths are $325</p>

<p>Additional tables are $30</p>

<p>Additional badges are $50</p>

    <p>Electricity is $120</p>
    <hr />
    <h4>Exhibitor Hall Policies</h4>

    <p>In order to be listed as a Point of Contact (POC) for a vendor/artist, you must be at least 18 years of age or older as of Thursday April 10th, 2025. A parent or legal guardian must be the POC for the booth/table of anyone under the age of 18. There must always be someone 18 years of age or older at all times while the hall is in operation and open to attendees. Anyone under the age of 18 shall not be left unattended while running a booth. Dealers selling, displaying, etc, any mature or adult content must always be 18 years of age or older. No one under the age of 18 can sell, display, or run a table with adult content. No exceptions.</p>

    <p>Dealers must always wear their badges while in any convention space. Dealers are required to display their badge while in the vendor hall especially during vendor-only hours. Dealer-only hours will be posted and are for set-up, tear-down times, and before/after regular hall hours. When the Hall is closed outside posted times, entrance will require a member of leadership staff (preferably the Exhibitor Director or Dealer Staff Assistants) and a valid reason for entry. Denial of entry after hours is up to the discretion of the escorting staff.</p>

    <p>Dealers are required to show up and finish their setup by the close of the hall on Friday night. If something happened to delay your arrival or setup, please contact us so we can work with you. We understand that things happen! Cars break down, family emergencies pop up, and people get sick. Failure to do so will have your table/booth counted as a no-show and will be canceled without a refund. No-show/forfeited tables/booths will be resold by the convention at a prorated rate for Saturday and Sunday. No-show/forfeited artists/dealers will be given a mark for future shows.</p>

    <p>While in the Exhibitor Hall, it is important to be considerate of your neighbors and surroundings. The following collection of policies refers to avoiding offending the five senses of anyone near your table/booth:</p>
<ul>
    <li>Sight – No flashing or strobe lights. Tables/booths and spaces around them should be kept organized and the aisle in front should be kept clear. All mature and adult materials must be displayed correctly. A full detail of this is in the Adult Content section.</li>
    <li>Sound – No loud music or sound. Dealers should refrain from loudly discussing subjects of a mature or adult nature especially around children. Hawking to attract attendees to your space is disruptive.</li>
    <li>Touch – Displays should be stable and safe to touch. There should be no sharp or dangerous materials, tools, products, etc that are easily reachable at the table. Anything expected to be handled should be kept clean.</li>
    <li>Smell – There should be no strong or dangerous odors emitted from your table/booth or persons. This includes chemicals etchers, sublimation fumes, spray paint, bonding adhesives (E6000), and unfiltered laser engravers. This also includes having food or refreshments that have intense smells that disrupt others.</li>
    <li>Taste – Extra care should be given to small products at your table/booth that can be popped into the mouths of small children. You are allowed to bring in food and drink for yourself and your table/booth mates but it should not be shared with attendees.</li>
</ul>
    <h4>Cancellation and Refunds</h4>

    <p>In the event that you need to cancel your booth, we offer a full refund if we are notified via email at least 30 days before the event. If something arises within 30 days of the event, we may be able to offer a partial refund. This refund is not guaranteed and will be discussed on a case-by-case basis.</p>
    <h4>The Jury Process</h4>

    <p>Every application will be juried equally. Dealer rooms tend to receive a high concentration of applications with some categories more competitive than others. This does mean that some of you may be waitlisted. This is not a reflection of you or your products. The Jury Process will happen after applications close. We will be looking at the variety of your products, your professionalism, the completeness of the portfolio, and how you adhere to the rules/guidelines. Any incomplete applications will be removed. We have no preference for any style of work over another. We take great care to have a balanced variety of products to provide the best selection for our attendees.</p>

    <p>Fanart is allowed unless we receive notification from copyright-holding parties/sponsors to limit its presence. Fanart is defined as merchandise that includes the likeness of a character, symbol, or other copyrighted property that is not official goods. There are also some creators that have strict DNS orders that we will comply with.</p>

    <p>Portfolios should include the products you intend to bring. If you have some products in process, you can include WIPs or something showing what you’re working on. Your planned inventory is important to providing our attendees a variety of goods. Your portfolio should also include an example of your display/setup. If you haven’t had one yet, you can provide a drawn mockup or make an example of yours in your home. Portfolios should have an easy-to-access link that must be active so our jurors can access it. Jurors should also not need to login or ask for access in order to see the portfolio. You can use sites like Google Drive to organize your images/files but be sure to have the correct shared link setting.</p>

    <p>To help with the jury/application process, please make sure your email address is correct. Also make sure your inbox is not full and that our emails do not go into your junk folders. If your email changes during the application process, please reach out to us to get it updated.</p>

    <p>If your application is accepted, you will be contacted to confirm your table/booth and arrange payment. Everyone that isn’t accepted during the initial jury review selection will be added to our waitlist. If an accepted dealer withdraws their application or misses the deadline, then their table will be forfeit and offered to someone on the waitlist. If the waitlisted dealer also withdraws or misses the deadline, then the table/booth will rollover to the next dealer on the waitlist.</p>
    <h4>Prohibited Merchandise</h4>

    <p>The following are not allowed for any Dealer to sell at Sekaicon:</p>
<ul>
    <li>AI generated art (AI art in any form will not be permitted or tolerated)</li>
    <li>Artwork stolen or traced from other artists’ works</li>
    <li>Intellectual properties (IP) that currently have DNS (Do Not Sell) orders from the creators</li>
    <li>Bootleg, knockoffs, or fake items</li>
    <li>Drug paraphernalia and products/designs relating to it</li>
    <li>Bladed weapons, yaoi paddles, and ammunition of any type</li>
    <li>Material relating to hatred, racism, sexism, or any other form of bigotry</li>
    <li>Artwork or products involving/putting/displaying children in adult situations will not be permitted or tolerated at all</li>
</ul>
    <p>The following are also not allowed for any Dealer to sell at Anime Day:</p>
<ul>
    <li>All forms of mature/adult content material</li>
</ul>
    <p>Any item that is deemed inappropriate may be banned from display or sale on the sole discretion of the Dealer Staff.</p>
    <h4>Adult/Mature Content</h4>

    <p>For Dealers at Anime Day, no adult/mature content is allowed to be shown or sold. Anime Day is in a public viewing area at The Mall at Fairfield Commons. All things must be family friendly.</p>

    <p>For Dealers in the Exhibitor Hall at Sekaicon, all artwork or products of a mature/adult nature must not be visible or accessible to attendees under the age of 18. Products containing adult material shall either be shielded by sticky notes, stickers, or a similar covering. Ideally they should be kept in a clearly-marked binder which shall be kept closed by the Dealer when it is not being viewed by a customer. Binders or portfolios containing uncensored artwork shall be separate from other binders. A tag or divider between material rated SFW and material rated NSFW is not sufficient. Any censoring of products must be done to the satisfaction of Dealer Staff. Dealer Staff will be walking around to ensure this is being followed and may ask you to put certain products away. While in the Exhibitor Hall, you must also verify the purchaser is 18 years of age before selling the product to them. All mature/adult products sold must be put into a solid non-transparent bag, envelope, folder, or box. The customer can use their own packaging if they brought one.</p>

    <p>For Dealers in the Adult Content Den, adult material is allowed to be displayed within the Den. No censorship is required. We will be verifying the age of everyone who enters. The Adult Content Den is also permitted to sell toys and sexually themed items. As stated above, all products sold must be put into a solid non-transparent bag, envelope, folder, or box. The customer can use their own packaging if they brought one.</p>
</BaseLayout>