---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Volunteer">
    <p>Enjoy anime and gaming conventions and want to be more involved? Take the next step and volunteer! As a volunteer you will work with like-minded individuals to put on an amazing convention!</p>
<p>Thank you for your interest in volunteering at Sekaicon 2025! Our volunteer applications are now open! Come join our team of passionate people in celebrating Japanese and East Asian pop culture.</p>
<p style="margin: 0 auto" class="button ruby"><a href="https://docs.google.com/forms/d/e/1FAIpQLSciLhZCCniCZQeTBSQH4CWI70hQakXzek2tnj3WiVn42O1n6w/viewform" class="button">Sekaicon 2025 Volunteer Application</a></p>
    <h6>Volunteer Benefits (effective after 24 hours of volunteer work)*</h6>
    <ul>
        <li>Free admission to Sekaicon</li>
        <li>2 free meals per day (Friday, Saturday and Sunday)</li>
        <li>Hotel room with 2-4 other volunteers (maximum of 2 people per bed)</li>
        <li>Sekaicon branded volunteer gift (to be determined)</li>
    </ul>
    <p>*Select benefits may be available for those volunteering for fewer than 24 hours over the course of the weekend. Please contact volunteerservices@sekaiguild.org for more information.</p>
    <h6>Volunteer Policies</h6>
    <p><a href="/files/Sekaicon-Volunteer-Policies.pdf">Sekaicon Volunteer Policies</a> </p>
    <p><a href="/files/Sekaicon-Volunteer-Code-of-Conduct.pdf">Sekaicon Volunteer Code of Conduct</a> </p>
    <p><a href="/files/Sekaicon-2025-Harassment-Policy.pdf">Sekaicon Harassment Policy</a> </p>
</BaseLayout>