---

---
<!--TICKETS-->
	<div id="tickets-wrap">
		<section id="tickets">
			<p class="pre-title">Buy Tickets</p>
			<h2>Tickets <span>and</span> <span>Passes</span></h2>
			<hr>
			<ul class="ticket-items">
				<!--TICKET ITEM-->
				<li class="medium">
					<!--CORNERS-->
					<div class="corner lt"></div>
					<div class="corner rt"></div>
					<div class="corner lb"></div>
					<div class="corner rb"></div>
					<!--/CORNERS-->

					<!--HEXAGONS-->
					<div class="hexa outer ruby">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="hexa inner dark-blue">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<!--/HEXAGONS-->
					<h3>Supporting<span>Membership</span></h3>
					<h4>55.00</h4>
					<img src="/images/ribbon-small01.png" alt="ribbon-s">
					<img src="/images/ribbon-medium01.png" alt="ribbon-m">
					<article>
						<p>Weekend Ticket</p>
						<p>For attendees 13+</p>
					</article>
					<a href="https://sekaiguild.regfox.com/sekaicon2025" class="button ruby">Buy Ticket Now!</a>
				</li>
				<!--/TICKET ITEM-->

				<!--TICKET ITEM-->
				<li class="medium">
					<!--CORNERS-->
					<div class="corner lt"></div>
					<div class="corner rt"></div>
					<div class="corner lb"></div>
					<div class="corner rb"></div>
					<!--/CORNERS-->

					<!--HEXAGONS-->
					<div class="hexa outer ruby">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<div class="hexa inner dark-blue">
						<div></div>
						<div></div>
						<div></div>
					</div>
					<!--/HEXAGONS-->
					<h3>Chibi <span>Membership</span></h3>
					<h4>20.00</h4>
					<img src="/images/ribbon-medium01.png" alt="ribbon-m">
					<img src="/images/ribbon-small01.png" alt="ribbon-s">
					<article>
						<p>Weekend Ticket</p>
						<p>For Attendees 10-12</p>
						<p>Children under 9 are free</p>
					</article>
					<a href="https://sekaiguild.regfox.com/sekaicon2025" class="button ruby">Buy Ticket Now!</a>
				</li>
				<!--TICKET ITEM-->
			</ul>
			<div class="cleaner"></div>
		</section>
	</div>
	<!--/TICKETS-->