---

---
<!--CONTACT-->
	<div id="contact-wrap">
		<section id="contact">
			<p class="pre-title">Join Us</p>
			<h2><span></span> <span>Location</span></h2>
			<hr>
			<article>
				<article class="left-info">
						<img src="/images/Ohio-Event-Center-Dance_dark.png" width="50%" style="float: left" />
					</article>
				<article class="info">

					<h5>Sekaicon 2025</h5>
					<p>Join us for Sekaicon, Central Ohio's newest anime and pop culture convention! Sekaicon 2025 is your chance to be among the very first to dive into a world of vibrant fandoms, incredible panels, and unforgettable experiences. Don’t miss out on this historic debut—get your tickets now!</p>
					<ul class="contact-items">
						<li>

							<img src="/images/about-item01.png" alt="ctc-option">

							<h6>Venue Address</h6>
							<p>Cherry Valley Hotel</p>
							<p>2299 Cherry Valley Rd SE, Newark, OH 43055</p>
						</li>
						<li>
							<img src="/images/contact-item02.png" alt="ctc-option">
							<h6>Venue Phone</h6>
							<p>(740) 788-1200</p>
						</li>
					</ul>
				</article>

			</article>
			<div class="cleaner"></div>
		</section>
	</div>
	<!--/CONTACT-->