---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

	<!--HEADER-->
	<div id="header-wrap">
		<header>
			<img src="/images/header-silhouette.png" alt="header-img">
			<article>
				<p class="pre-title">Prepare for</p>
				<h1>{SITE_TITLE} <span>2025</span></h1>
				<h6>Cherry Valley Hotel &amp; Ohio Event Center, Newark OH - April 11th-13th, 2025</h6>
				<!--<a href="#schedule" class="button pink">Full Schedule</a>-->
				<a href="#tickets" class="button ruby">Buy Tickets</a>
				<div id="countdown"></div>
			</article>
		</header>
	</div>
	<!--/HEADER-->
