---

---
	<!--NAVIGATION-->
	<div id="nav-wrap">
		<nav id="main-nav">
			<h4><span><a href="/" >Sekaicon</a></span></h4>
			<ul>
				<li><a>About</a>
					<ul>
						<li><a href="https://sekaiguild.regfox.com/sekaicon2025">Register</a></li>
						<li><a href="https://res.windsurfercrs.com/ibe/details.aspx?propertyid=17727&nights=1&checkin=4/11/2025&group=0106&lang=en-us">Hotel Block</a></li>
						<li><a href="https://www.cherryvalleyhotel.com/">Venue</a></li>
						<li><a href="https://sekaiguild.org/">Sekai Guild</a></li>
						<li><a href="https://sekaiguild.org/about/">Our Mission</a> </li>
						<li><a href="/policies">Policies</a> </li>
					</ul>
				</li>
				<li><a href="/#guests">Guests</a></li>
				<li><a>Programming</a>
					<ul>
						<li><a href="/panels">Panels</a></li>
						<li><a href="/live-events">Live Events</a></li>
						<li><a href="/cosplay">Cosplay</a></li>
					</ul>
				</li>
				<li><a>Gaming</a>
					<ul>
						<li><a href="/tabletop-gaming">Tabletop Gaming</a></li>
						<li><a href="/pc-gaming">PC Gaming</a></li>
						<li><a href="/console-gaming">Console Gaming</a></li>
						<li><a href="/arcade">Arcade</a></li>
					</ul>
				</li>
				<li><a>Exhibitor Hall</a>
					<ul>
						<li><a href="/vendor-hall">Vendor Hall</a></li>
						<li><a href="/artist-alley">Artist Alley</a></li>
						<li><a href="/marketplace">Marketplace</a> </li>
					</ul>
				</li>
				<li><a href="/get-involved">Get Involved</a>
					<ul>
						<li><a href="/volunteer">Volunteer</a> </li>
						<li><a href="https://www.paypal.com/donate/?hosted_button_id=H9QTM84UG9QU8&source=qr">Donate</a> </li>
					</ul>
				</li>
				<li><a href="https://sekaiguild.org/faq/">FAQ</a></li>
				<!--<li><a href="/#schedule">Schedule</a></li>-->
			</ul>
			<a href="#" id="pull"></a>
		</nav>
	</div>
	<!--/NAVIGATION-->